.App {
  text-align: center;
  display: grid;
  height: 100vh;
}

.App-logo {
  display: grid;
  pointer-events: none;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.logodiv{
  display: grid;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.scores{
  display: grid;
  grid-template-rows: 10% 20% 70%;
}
.title{
  display: grid;
}
.title>h3{
  margin: 0;
}

.container{
  display: grid;
  grid-template-columns: 32% 36% 32%;
}

.columncontainer{
    display: grid;
    position: relative;
    grid-template-rows: 33.3333333333% 33.3333333333% 33.3333333333%;
    top: 25%;
    left: 25%;
    box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.75);
    height: 300px;
    width: 300px;
}
.tictactoe{
  display: grid;
  margin: 0;
  grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
}
.column{
  background-color: #9fa9bd;
  display: grid;
  margin: 3%;
  color: white;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  align-items: center;
  transition: background-color .5s ease-out;
  cursor: pointer;
}

.column:hover{
  background-color: #7f8797;
}

.App-header {
  background-color: #282c34;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 75%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container>button{
  display: grid;
  align-items: center;
  border: 0;
  border-radius: 12px;
  width: 80%;
  right: 10%;
  height: 60px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-color: #6e7a90;
  transition: all .5s ease-out;
  text-shadow: 2px 2px 2px black;
  box-shadow: 0 0 43px -4px rgba(0,0,0,0.75);
  padding: 0;
  cursor: pointer;
}
.container>button:hover{
  background-color: darkmagenta;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
